@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;1,100&family=Oleo+Script&display=swap");

:root {
  --font-primary: "Jost", sans-serif;
  --font-secondary: "Oleo Script", cursive;
}

body {
  font-family: var(--font-primary);
  height: 100vh;
}

.favorite-btn {
  width: 30px;
  height: 30px;
  background-color: aqua;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
}


