.cards {
  max-width: 300px;
  max-height: 320px;
  min-width: 300px;
  min-height: 160px;
  color: #fff;
  background-color: #181818;
  overflow: hidden;
  transition: all 0.5s;
  width: 300px;
  height: 160px;
}
.cards:hover {
  border-radius: 5px;
  height: 310px;
  transform: scale(1.1);
  box-shadow: 4px 6px 8px #010101;
}
.cards img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}
.cards .cards-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 35px;
}
.cards-icons__one {
  display: flex;
  gap: 10px;
}

.cards-text {
  font-size: 20px;
  padding: 0 10px;
  gap: 10px;
  display: flex;
}
.cards-generos {
  font-size: 20px;
  padding: 0 10px 5px 10px;
}
.cards-text__one {
  color: green;
  font-weight: 700;
}
.cards-text__two {
  border: 0.1px solid #01010150;
  padding: 2px 5px;
  font-size: 16px;
}
