.header {
  height: 90px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background: linear-gradient(#141414, #14141410 98%);
  transition: all 0.5s;
  color: #ffff;
}
.header nav ul {
  display: flex;
  justify-content: space-around;
  margin: revert;
  gap: 20px;
  padding: 0 20px;

  
}
.header nav ul li {
  list-style: none;
}
.header .logo {
  width: 150px;
  filter: drop-shadow(2px 5px 6px #5c0d0d);
}

.header .header-favorite {
  cursor: pointer;
  margin-right: 20px;
  position: relative;
}
.header .header-favorites__list {
  position: absolute;
  top: 90px;
  transition: all 0.5s;
  background-color: #010101;
  height: 0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  .header nav {
    top: 0;
    position: fixed;
    height: 100pz;
  }
  .header nav ul {
    position: absolute;
    bottom: -60%;
    transform: translateX(50%);
    right: 50%;
  }
  .header nav .d-flex .mobile {
    display: none !important;
  }
  .header .header-favorite {
    cursor: pointer;
    margin-right: 70px;
    position: relative;
  }
  .header .header-favorites__list {
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    right: 0;
    transition: all 0.5s;
    background-color: #010101;
    height: 0;
    overflow: hidden;
  }
}
