.listado {
  background-color: #181818;
  overflow: hidden;
  position: relative;
}
.list-groups {
  margin-top: -110px;
}
.section {
  height: 250px;
}
.section h3 {
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  position: relative;
}

.contain-cards {
  position: absolute;
  display: flex;
  gap: 10px;
  left: 0;
  transform: translateX(100px);
}
.arrow {
  color: #fff;
  z-index: 4;
  position: relative;
 background-color: #01010180;
  display: block;
  font-size: 25px;
  position: absolute;
  width: 50px;
  height: 160px;
  padding: 0 10px;
}
.arrow-right {
  right: 10px;
}
.arrow-left {
  left: 0;
}
