.listado {
  background-color: #181818;
}

.list-groups {
  margin-top: -110px;
  z-index: 2;
  position: relative;
}
.section {
  height: 250px;
  position: relative;
}
.section h3 {
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
  padding-left: 100px;
}

.contain-cards {
  display: flex;
  padding-left: 100px;
}
.arrow {
  color: #fff;
  position: absolute;
  font-size: 30px;
  padding: 10px;
  height: 160px;
  width: 50px;
  top: 24.5%;
  z-index: 5;
  background-color: #01010180;
  cursor: pointer;
}
.arrow-right {
  right: 0;
}
/* .arrow-left {
  opacity: 0;
} */
