.movieContainer {
  background-color: #181818;
  position: relative;
}
.movieContainer .container {
  margin-top: 1px;
}

.movieContainer .movies-serch {
  border: 1px solid green;
  position: absolute;
  top: 0;
  left: 5%;
}
