.categories {
  margin-top: 100px;
  position: absolute;
  top: 1%;
  left: 10%;
  color: #fff;
}
.categories-title {
  font-size: 50px;
  font-weight: bold;
}
.categories-search {
  padding: 8px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: #010101;
  width: 150px;
}
.categories-list {
  position: absolute;
  height: 0;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #01010198;
  padding: 0;
  gap: 10px;
  align-items: center;
  justify-content: center;
  top: 58px;
  left: 62%;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 2px;
}
.categories-search:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.categories-list li {
  width: 100px;
  color: #ffff;
  font-size: 15px;
  list-style: none;
  cursor: pointer;
  overflow: hidden;
}
.categories-list li span {
  position: relative;
}
.categories-list li span::after {
  content: "";
  position: absolute;
  border-bottom: 1.5px solid #fff;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(-101%);
}
.categories-list li span:hover::after {
  transform: translateX(0);
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {

  .categories {
    margin-top: 100px;
    position: absolute;
    top: 1%;
    left: 5%;
    color: #fff;
  }
  .categories-title {
    font-size: 20px;
    font-weight: bold;
  }
  .categories-search {
    padding: 2px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    background-color: #010101;
    margin-left: -10%;
    width: 110px;
  }
  .categories-list {
    position: absolute;
    height: 0;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: #010101;
    padding: 0;
    gap: 10px;
    align-items: center;
    justify-content: center;
    top: 31px;
    left: 30%;
    overflow: hidden;
    transition: all 0.5s;
    border-radius: 2px;
    z-index: 5;
  }
}
